<!DOCTYPE html>
<html>
    <h1 style="text-align: center">
        <b>Welcome to the Polls</b>
    </h1>
    <h2 style="text-align: center">
        Please answer as much as possible, Thank you
    </h2>

    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</html>




